@import 'variables';

.burger {
  display: none;
  padding: 0.4rem;
  background-color: $violet;
  border-radius: 50%;
  font-size: 1.5rem;
  color: $white;
}

// Responsive screen < 1199px
@media (max-width: 1199px) {
  .burger {
    display: block;
  }
}
