@import 'variables';

.button {
  display: flex;
  width: 100px;
}

.language {
  position: relative;
  width: 100px;
  height: 36px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 3rem;

  .list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    font-size: 0.8rem;
    font-weight: 500;
    .locale {
      z-index: 2;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
      &.active {
        color: $white;
        font-weight: 800;
      }
    }
  }

  .slide {
    position: absolute;
    width: 48px;
    height: 22px;
    top: 6px;
    left: 6px;
    border-radius: 3rem;
    background-color: $violet;
    transition: transform 0.3s ease;
    &.fr {
      transform: translateX(0);
    }
    &.en {
      transform: translateX(38px);
    }
  }
}
