// COLORS
$bgVioletDark: #030714;
$bgGradiantDark: #0f0b25;
$bgGradiantLight: #120e31;
$violet: #5e28dc;
$violetLight: rgb(208, 207, 226);
$violetContact: #08041d;
$violetPink: #24092f;
$pinkLight: #d89fed;
$pink: #663e8a;
$white: #ffffff;
$whitesmoke: #dbdce1;
$shadow: black;
$blue: #748be8;
