@import 'reset';
@import 'variables';

body {
  background-color: $bgVioletDark;
  color: $white;
  font-size: 1rem;
  line-height: 1;
}

button,
a {
  cursor: pointer;
}

// ***Scroll Bar***
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #12192d;
}

::-webkit-scrollbar-thumb {
  background-color: $violet;
  border-radius: 0.4rem;
}

//***App Container***

.container {
  position: relative;
}

// ***MAIN***

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main-layout {
  padding: 6% 0;
  max-width: 1150px;
  width: 90%;
}

.main-title {
  font-size: 2.8rem;
  font-weight: 800;
  margin: 5% 0;
}

// Visually-hidden
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

// ***ERROR Page***

// ***SVG Cat*** //
path,
rect {
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-opacity: 1;
}
