@import 'variables';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 8% 8%;
  background: linear-gradient($bgGradiantDark, $bgGradiantLight);
  border-radius: 0.4rem;
}

//Responsive screen < 768px
@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 2.5rem;
  }
}
