@import 'variables';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 5rem;
  padding: 0 2rem;
  background: $bgVioletDark;
  .wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
    .logo {
      width: 160px;
      height: auto;
      .img {
        width: 100%;
        height: auto;
      }
    }
  }
}
