@import 'variables';

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2.3rem;

  .socials {
    display: flex;
    padding-bottom: 1.2rem;

    .link {
      padding: 0 1rem;
      font-size: 1.2rem;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: $violet;
      }
    }
  }

  .text {
    font-size: 0.8rem;
    line-height: 1.8;
  }

  .bold {
    font-weight: bold;
  }
}

//Responsive screen < 768px
@media (max-width: 768px) {
  .text {
    font-size: 0.7rem;
  }
}

//Responsive screen < 699px
@media (max-width: 699px) {
  .footer {
    padding: 2.3rem 1rem;
    .text {
      font-size: 0.7rem;
      line-height: 1.5;
    }
  }
}
