@import 'variables';

.navbar {
  .list {
    display: flex;
    gap: 2rem;
    .link {
      font-weight: 400;
      letter-spacing: 0.7px;
      text-transform: uppercase;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 0;
        right: 0;
        width: 80%;
        height: 1px;
        background-color: $violet;
        border-radius: 0.4rem;
        margin: 0 auto;
        transition: transform 0.3s ease-in-out;
        transform: scaleX(0);
        transform-origin: center;
      }
      &:hover::after {
        transform: scaleX(1);
      }
    }
  }
}

.burger {
  display: none;
  padding: 0.4rem;
  background-color: $violet;
  border-radius: 50%;
  font-size: 1.5rem;
  color: $white;
}

// Responsive screen < 1199px
@media (max-width: 1199px) {
  .navbar {
    position: fixed;
    display: flex;
    left: 100%;
    top: 5rem;
    background-color: $bgVioletDark;
    border-top: 1px solid rgb(208, 207, 226, 0.4);
    border-bottom: 1px solid rgb(208, 207, 226, 0.4);
    width: 100%;
    height: calc(100% - 4.2rem);
    padding: 1.2rem 0;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    .list {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: 3rem;
      .link::after {
        bottom: -5px;
      }
    }
  }

  .navbar.active {
    left: 0;
    transform: translateX(0);
    opacity: 1;
    height: calc(100vh - 4.2rem);
  }

  .burger {
    display: block;
  }
}
