@import 'variables';

.navbar {
  display: flex;
  gap: 2rem;
  .link {
    font-weight: 400;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      /*position absolue par rapport à son parent qui est nav__link*/
      bottom: -10px;
      /*affiche la barre 10px en dessous du lien*/
      left: 0;
      right: 0;
      /*s'étend de la gauche à la droite*/
      width: 80%;
      /*fait 80% de large par rapport au lien*/
      height: 1px;
      background-color: $violet;
      /*couleur de la barre*/
      border-radius: 0.4rem;
      margin: 0 auto;
      /*centrer la barre horizontalement sous le lien*/
      transition: transform 0.3s ease-in-out;
      /*la transition agit sur la propriété transform avec une durée de 0.3s et une accélération progressive*/
      transform: scaleX(0);
      /*la barre est initialement invisible*/
      transform-origin: center;
      /*définit le point d'origine de la transformation à mi-chemin horizontalement*/
    }
    &:hover::after {
      transform: scaleX(1);
      /*au survol, la barre est devient visible*/
    }
  }
}

.burger {
  display: none;
  padding: 0.4rem;
  background-color: $violet;
  border-radius: 50%;
  font-size: 1.5rem;
  color: $white;
}

// Responsive screen < 1199px
@media (max-width: 1199px) {
  .navbar {
    position: fixed;
    display: flex;
    left: 100%;
    top: 5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $bgVioletDark;
    border-top: 1px solid rgb(208, 207, 226, 0.4);
    border-bottom: 1px solid rgb(208, 207, 226, 0.4);
    width: 100%;
    height: calc(100vh - 4.2rem);
    padding: 1.2rem 0;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    .link::after {
      bottom: -5px;
    }
  }

  .navbar.active {
    left: 0;
    transform: translateX(0);
    opacity: 1;
    height: calc(100vh - 4.2rem);
  }

  .burger {
    display: block;
  }
}
